{% extends "index.html" %}
{% block body %}

<h3>i can haz root O_o</h3>

<ul>
<li><a href="{{ url_for('bloggen_new') }}">was bloggen...</a></li>
<li><a href="{{ url_for('bloggen_verwalten') }}">Blogposts verwalten</a></li> 
{% if admin %}
<li><a href="{{ url_for('page_new') }}">Page hinzufügen</a></li>
<li><a href="{{ url_for('page_verwalten') }}">Pages verwalten</a></li> 
<li><a href="{{ url_for('user_new') }}">Atze hinzufügen</a></li>
<li><a href="{{ url_for('user_verwalten') }}">Atzen verwalten</a></li> 
{% endif %}
</ul>

{% endblock %}
