{% extends "index.html" %}
{% block body %}

<h3>eine Seite - make it better!</h3>

<form method="post">

<p>
    <input type="text" name="title" value="{{ page.title }}">
    <label for="title">Titel</label>
</p>

<p>
    <textarea name="text">{{ page.text }}</textarea>
    <label for="text">Text</label>
</p>

<p>
    <input type="checkbox" name="menu" {% if page.menu %}checked="checked"{% endif %}>
    <label for="menu">Show in Menu?</label>
        
    <label for="parent">as a Subsite of?</label>
    <select name="parent">
        <option value="0"></option>
        {% for parentPage in pages %}
        <option value="{{ parentPage.id }}" {% if parentPage.id==page.parent_id %}selected="selected"{% endif %}>{{ parentPage.title }}</option>
        {% endfor %}
    </select>
</p>

<input type="submit" name="submit" value=" läuft... " class="grid_2">

</form>

{% endblock %}
