{% extends "index.html" %}
{% block body %}

<h3>eine neue Seite - spannend O_o</h3>

<form method="post">

<p>
    <input type="text" name="title" class="grid_3">
    <label for="title">Titel</label>
</p>

<p>
    <textarea name="text" class="grid_3">
    </textarea>
    <label for="text">Text</label>
</p>

<p>
    <input type="checkbox" name="menu" class="grid_3">
    <label for="menu">Show in Menu?</label>
</p>

<input type="submit" name="submit" value=" läuft... " class="grid_2">

</form>

{% endblock %}
