{% extends "index.html" %}
{% block body %}

<h3>Atze bearbeiten</h3>

<form method="post">

<p>
    <input type="text" name="username" class="grid_3" value="{{ user.username }}">
    <label for="username">Username</label>
</p>

<p>
    <input type="email" name="email" class="grid_3" value="{{ user.email }}">
    <label for="username">E-Mail</label>
</p>

<p>
    <input type="checkbox" name="admin" class="grid_1" {% if user.admin %}checked="checked"{% endif %}>
    <label for="username">Admin?</label>
</p>

<input type="submit" name="submit" class="grid_2" value=" check digga! ">
</form>

{% endblock %}
